{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block header %}{% endblock %}
<body
    data-spy="scroll"
    data-target=".site-navbar-target"
    data-offset="300"
    id="home-section"
>

    <div id="overlayer"></div>
    <div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    </div>
    <div class="site-wrap">
        {% comment %} <div class="col-12 d-none d-xl-block"> {% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">    
            <a href="/" class="h2 mb-0 navbar-brand">
            <img src="{% static 'home/img/logo-big.png' %}" style=" margin-top: 20px;"></img>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="about" class="nav-link"
                                >About</a>
                    </li>
                    <li class="nav-item active">
                        <a href="boarding" class="nav-link"
                                >Dog Boarding</a>
                    </li>
                    <li class="nav-item">
                        <a href="work" class="nav-link"
                            >What We Do</a
                            >
                    </li>
                    <li class="nav-item">
                        <a href="stories" class="nav-link">Success Stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="adopt" class="nav-link">Up for Adoption</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <span>
                            <a class="btn btn-primary" href="donate">Donate</a>
                        </span>
                    </li>
                </ul>

            </div>
        </nav>
        {% block section %}{% endblock %}
        <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-5">
                      <h2 class="footer-heading mb-4">Every animal deserves a second chance...</h2>
                      <p>
                        
      Working for a cause!
                      </p>
                    </div>
                    <div class="col-md-3 ml-auto">
                      <h2 class="footer-heading mb-4">Quick Links</h2>
                      <ul class="list-unstyled">
                        <li>
                          <a href="/" class="smoothscroll"
                            >Home</a
                          >
                        </li>
      
                        <li>
                          <a href="about" class="smoothscroll"
                            >About Us</a
                          >
                        </li>
                        <li>
                          <a href="boarding" class="smoothscroll"
                                      >Dog Boarding</a>
                        </li>
                        <li>
                          <a href="work" class="smoothscroll"
                            >What We Do</a
                          >
                        </li>
      
                        <li>
                          <a href="stories" class="smoothscroll"
                            >Success Stories</a>
                          
                        </li>
                        <li>
                          <a href="adopt" class="smoothscroll"
                            >Up for Adoption</a
                          >
                        </li>
      
                        <li>
                          <a href="contact" class="smoothscroll"
                            >Contact</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <h2 class="footer-heading mb-4">Follow Us</h2>
                      <a href="https://www.facebook.com/thestrayarmy" class="pl-0 pr-3"
                        ><span
                          class="fa fa-facebook-f"
                          style="font-size: 1.2rem"
                        ></span
                      ></a>
                      <a href="mailto:thestrayarmy@gmail.com" class="pl-3 pr-3"
                        ><span
                          class="fa fa-envelope"
                          style="font-size: 1.2rem"
                        ></span
                      ></a>
      
                      <a href="https://www.instagram.com/thestrayarmy/" class="pl-3 pr-3"
                        ><span
                          class="fa fa-instagram"
                          style="font-size: 1.2rem"
                        ></span
                      ></a>
                      <a href="https://twitter.com/thestrayarmy" class="pl-3 pr-3"
                        ><span
                          class="fa fa-twitter"
                          style="font-size: 1.2rem"
                        ></span
                      ></a>
      
                      <a href="https://www.youtube.com/channel/UCCCfd5YG4kOvQFsWPeI3xhA/" class="pl-3 pr-3"
                        ><span
                          class="fa fa-youtube-play"
                          style="font-size: 1.2rem"
                        ></span
                      ></a>
                    </div>
                  </div>
                </div>
            
      <div class="col-md-3 ml-auto">
                      <h2 class="footer-heading mb-4">
      Copyright ©</br>
      The Stray Army @2022</h2>
                      <ul class="list-unstyled">
                        <li>
                          <a href="terms" class="smoothscroll"
                            >Terms and Conditions</a
                          >
                        </li>
      
                        <li>
                          <a href="privacy" class="smoothscroll"
                            >Privacy Policy</a
                          >
                        </li>
                        <li>
                          <a href="refund" class="smoothscroll"
                            >Refund and Cancellation Policy</a
                          >
                        </li>
      
                    
                      
                      </ul>
                    </div>
      
              </div>
            </div>
        </footer>
        {% block scripts %}{% endblock %}
    </div>
</body>
</html>